<section class="mt-5">
  <div *ngIf="!registerMode" class="container text-center">
    <h1>Find your match</h1>
    <p class="lead">Come on in to view your matches... All you need to do is sign up!</p>
    <p>
      <button class="btn btn-primary my-2 mx-1" (click)="registerToggle()">Register</button>
      <button class="btn btn-secondary my-2 mx-1">Learn More</button>
    </p>
  </div>

  <div *ngIf="registerMode" class="container">
    <div class="row justify-content-center">
      <div class="col-md-4">
        <app-register [valuesFromHome]="values" (cancelRegister)="cancelRegisterMode($event)"></app-register>
      </div>
    </div>
  </div>


</section>